<div class="comment-item">
  <div class="comment-left">
    <div class="comment-avatar">{{ comment.name|first }}</div>
  </div>

  <div class="comment-center">
    <p class="comment-author">{{ comment.name }}</p>
    <p class="comment-text">{{ comment.content }}</p>

    <div class="comment-meta">
      <span>{{ comment.created_at|timesince }} ago</span>
      <a href="javascript:void(0)" class="comment-reply-btn" data-comment-id="{{ comment.id }}"
        data-username="{{ comment.name }}">
        Reply
      </a>
    </div>

    {% with replies=comment.get_all_replies %}
    {% if replies %}
    <!-- REPLY COUNT -->
    <span class="reply-count">{{ replies|length }} Replies</span>

    <div class="comment-replies" id="replies-{{ comment.id }}">
      {% for reply in replies|slice:":3" %}
      {% include 'news/news_reply.html' with reply=reply %}
      {% endfor %}

      {% if replies|length > 3 %}
      <button class="load-more-replies" data-url="{% url 'news:load_more_news_replies' comment.id %}" data-next="3">
        See More Replies
      </button>
      {% endif %}

    </div>
    {% endif %}
    {% endwith %}
  </div>
</div>