/* ===============================
    BLOG CARD
  ================================*/

.news-container {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.news-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 320px;
  background: var(--primary-text-colour);
  border: 1px solid #f1f1f1;
  border-radius: 6px;
  padding: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease;
}

.news-card:hover {
  transform: translateY(-3px);
}

.news-info {
  flex: 1;
  margin-right: 8px;
}

.news-time {
  color: red;
  font-size: 14px;
  margin: 0 0 4px 0;
  font-weight: 600;
}

.news-time .dot {
  height: 8px;
  width: 8px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.news-title {
  font-size: 15px;
  font-weight: 600;
  color: #000;
  margin: 0;
  line-height: 1.4;
}

.news-card img {
  width: 100px;
  height: 80px;
  object-fit: cover;
  border-radius: 4px;
}

/* Responsive */
@media (max-width: 768px) {
  .news-container {
    flex-direction: column;
    align-items: center;
  }

  .news-card {
    width: 95%;
  }
}