{% extends "main_base.html" %}

{% block extra_css %}
{% load static %}
<link rel="stylesheet" href="{% static 'music/style.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
{% endblock %}

{% block categories %}
<div class="categories-wrapper">
  <div class="categories-scroll">

    <a href="{% url 'music:newest-song' %}"
       class="category {% if request.path == '/music/newest-song/' %}active{% endif %}">
      <div class="circle">
        <span class="material-symbols-outlined">music_note</span>
      </div>
      <p>Latest Music</p>
    </a>

    <a href="{% url 'music:gospel-song' %}"
       class="category {% if request.path == '/music/gospel-song/' %}active{% endif %}">
      <div class="circle">
        <span class="material-symbols-outlined">church</span>
      </div>
      <p>Gospel</p>
    </a>

    <a href="{% url 'music:trending' %}"
       class="category {% if request.path == '/music/trending/' %}active{% endif %}">
      <div class="circle">
        <span class="material-symbols-outlined">local_fire_department</span>
      </div>
      <p>Trending</p>
    </a>

    <a href="{% url 'music:albums' %}"
       class="category {% if request.path == '/music/albums/' %}active{% endif %}">
      <div class="circle">
        <span class="material-symbols-outlined">album</span>
      </div>
      <p>Albums</p>
    </a>

    <a href="{% url 'music:mixtape' %}"
       class="category {% if request.path == '/music/mixtape/' %}active{% endif %}">
      <div class="circle">
        <span class="material-symbols-outlined">headphones</span>
      </div>
      <p>DJ Mix</p>
    </a>

    <a href="{% url 'music:african-song' %}"
       class="category {% if request.path == '/music/africa/' %}active{% endif %}">
      <div class="circle">
        <span class="material-symbols-outlined">public</span>
      </div>
      <p>African Music</p>
    </a>

  </div>
</div>

{% endblock %}

{% block content %} {% endblock %}
<script src="{% static 'js/lazy_loading.js' %}"></script>